Repository Herrike/market-lens: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  stage_fixed: true
  run: pnpm run lint --fix {staged_files} --quiet

prettier:
  run: pnpm dlx prettier {staged_files} --write

typecheck:
  run: pnpm run type-check

fix: fixed failing test for tickerRegex
  src/services/api.ts
Due: eslint, prettier, typecheck

refactor: split error handling into separate files and add find-god-files script
  scripts/find-god-files
  src/utils/api-error-cases.ts
  src/utils/api-errors.test.ts
  src/utils/api-errors.ts
Due: eslint, prettier, typecheck

fix: re-export ApiErrorResponse type for external usage
  src/utils/api-errors.ts
Due: eslint, prettier, typecheck

rename: add .sh extension to find-god-files script for clarity
  scripts/find-god-files.sh
Due: none

feat: add lazy loading for SearchModal and rename script to find-god-files.sh
  src/components/section/Section.test.tsx
  src/components/section/Section.tsx
Due: eslint, prettier, typecheck

refactor: replace getByText with data-testid for better test reliability
  index.html
  src/components/ErrorBoundary.test.tsx
  src/components/ErrorBoundary.tsx
  src/components/free-tier-suggestions/FreeTierSuggestions.tsx
  src/components/search-modal/SearchModal.test.tsx
  src/components/search-modal/results/SearchResultItem.tsx
  src/components/search-modal/results/SearchResultsList.tsx
  src/components/section/Section.test.tsx
  src/components/section/states/SelectedStockFallback.tsx
  src/components/section/states/StockInfoDisplay.tsx
  src/components/section/ui/BackButton.tsx
  src/components/stock-chart/errors/ChartErrorDisplay.tsx
  src/components/stock-chart/errors/PaymentRequiredError.tsx
  src/components/stock-chart/states/QuoteFallbackCard.tsx
Due: eslint, prettier, typecheck

perf: optimize bundle splitting and add resource hints for better LCP
  index.html
  src/main.tsx
  vite.config.ts
Due: eslint, prettier, typecheck

docs: update ADR with bundle optimization strategy and performance results
  ADR.md
Due: prettier

fix: remove unused CSS preload and auto-close mobile menu on nav click
  index.html
  src/components/sidebar/NavigationItem.tsx
Due: eslint, prettier, typecheck

Updates
  assets/chart-feature-BxR6VHvZ.js
  assets/chart-feature-DfsoJwOB.js
  assets/charts-B-JtCvON.js
  assets/charts-R_cfc7Tx.js
  assets/index--GS2ZT9M.js
  assets/index-Dx4BZTWl.js
  assets/react-BL7NZTwX.js
  assets/react-DLqcGry3.js
  assets/search-D3pUW01U.js
  assets/search-DVQBXV53.js
  assets/services-C5ZnUbBO.js
  assets/services-DBTcWprW.js
  index.html
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,json,md}
  typecheck: any of: *.{ts,tsx}
