Repository Herrike/market-lens: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      stage_fixed: true
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm run lint --fix {staged_files} --quiet
    prettier:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: pnpm dlx prettier {staged_files} --write
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run type-check
pre-push:
  parallel: true
  commands:
    test:
      run: pnpm run test
    build:
      run: pnpm run build
    audit:
      run: pnpm audit --audit-level=moderate

Configure GitHub Pages deployment
  .github/workflows/deploy.yml
  ADR.md
  src/components/ErrorBoundary.test.tsx
  src/components/search-modal/modal-item/ModalListItem.tsx
  src/components/search-modal/modal-list/ModalList.tsx
  vite.config.ts
Due: eslint, prettier, typecheck

🔧 Fix GitHub Actions workflow for pnpm
  .github/workflows/deploy.yml
Due: none

activated lefthook for safer delopyments
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier

✅ Improve test reliability with data-testid attributes
  src/components/navigation/Navigation.tsx
  src/components/search-modal/SearchModal.tsx
  src/components/search-modal/modal-form/SearchModalForm.tsx
  src/components/search-modal/results/SearchResultItem.tsx
  src/components/section/Section.test.tsx
  src/components/section/Section.tsx
  src/components/sidebar/NavigationItem.tsx
  src/hooks/useStockHistory.ts
  src/hooks/useStocks.ts
Due: eslint, prettier, typecheck

📝 Update documentation with comprehensive project details
  README.md
Due: prettier

🔧 Fix GitHub Actions permissions for deployment
  .github/workflows/deploy.yml
Due: none

🔇 Fix Highcharts accessibility warning
  src/components/chart/Chart.tsx
Due: eslint, prettier, typecheck

🔧 Add GitHub Pages environment to deployment job
  .github/workflows/deploy.yml
Due: none

🔧 Fix GitHub Pages deployment by removing environment protection
  .github/workflows/deploy.yml
Due: none

📚 Add comprehensive API key security documentation
  README.md
  docs/adr/003-api-key-security-considerations.md
Due: prettier

🔧 Revert to peaceiris/actions-gh-pages for reliable deployment
  .github/workflows/deploy.yml
Due: none

🔧 Revert to peaceiris/actions-gh-pages for reliable deployment
  README.md
  docs/adr/003-api-key-security-considerations.md
Due: prettier

🔒 Secure API key by removing .env from git tracking
  .env
  .gitignore
Due: none

🧪 Fix test environment variables for CI
  package.json
  src/services/api.test.ts
  src/test/setup.ts
Due: eslint, prettier, typecheck

🏗️ Separate development testing from production deployment
  .github/workflows/deploy.yml
Due: none

🔧 Fix GitHub Pages deployment permissions
  .github/workflows/deploy.yml
Due: none

feat: Complete API error handling system with mobile optimization
  src/components/chart/Chart.tsx
  src/components/search-modal/SearchModal.test.tsx
  src/components/search-modal/modal-form/SearchModalForm.tsx
  src/components/search-modal/results/SearchResultsList.tsx
  src/utils/api-errors.test.ts
  src/utils/api-errors.ts
Due: eslint, prettier, typecheck

Updates
  .nojekyll
  assets/index-BUxCQscZ.js
  assets/index-CtVYUv-O.js
  index.html
Due: eslint, prettier

Delete docs/adr directory
  docs/adr/003-api-key-security-considerations.md
Due: prettier

refactor: extract god-components and god-functions into focused utilities to reduce code cognitive complexity
  src/components/chart/Chart.tsx
  src/components/free-tier-suggestions/FreeTierSuggestions.tsx
  src/components/section/Section.tsx
  src/components/section/states/HomeState.tsx
  src/components/section/states/SelectedStockFallback.tsx
  src/components/section/states/StockInfoDisplay.tsx
  src/components/section/states/StockLoadingState.tsx
  src/components/section/ui/BackButton.tsx
  src/components/stock-chart/ChartLoading.tsx
  src/components/stock-chart/StockChart.tsx
  src/components/stock-chart/errors/ChartErrorDisplay.tsx
  src/components/stock-chart/errors/PaymentRequiredError.tsx
  src/components/stock-chart/states/EmptyChartState.tsx
  src/components/stock-chart/states/QuoteFallbackCard.tsx
  src/hooks/useStockHistory.ts
  src/hooks/useStockQuote.ts
  src/utils/date-helpers.ts
  src/utils/free-tier-symbols.ts
  src/utils/stock-api-errors.ts
  src/utils/stock-chart-options.ts
  src/utils/stock-history-transform.ts
  src/utils/stock-quote-cache.ts
  src/utils/stock-quote-transform.ts
  src/utils/stock-swr-retry.ts
Due: eslint, prettier, typecheck

feat: add comprehensive test suite (207 tests) with coverage reporting and updated docs
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  src/utils/date-helpers.test.ts
  src/utils/stock-api-errors.test.ts
  src/utils/stock-quote-cache.test.ts
Due: eslint, prettier, typecheck

docs: update security section to reflect GitHub Secrets implementation
  README.md
Due: prettier

updated readme file
  .env.example
Due: none

Unify API error types and eliminate test warnings (207 tests passing)
  package.json
  pnpm-lock.yaml
  src/components/search-modal/SearchModal.test.tsx
  src/components/search-modal/results/SearchResultItem.tsx
  src/components/search-modal/results/SearchResultsList.tsx
  src/hooks/useStockHistory.ts
  src/hooks/useStockQuote.ts
  src/hooks/useStocks.ts
  src/services/api.test.ts
  src/services/api.ts
  src/test/setup.ts
  src/types/api.types.ts
  src/utils/api-errors.test.ts
  src/utils/api-errors.ts
  src/utils/stock-api-errors.test.ts
  src/utils/stock-api-errors.ts
  src/utils/stock-swr-retry.ts
Due: eslint, prettier, typecheck

Optimize bundle size: 63% reduction via dynamic imports + chunking (207 tests passing)
  src/components/section/Section.test.tsx
  src/components/section/Section.tsx
  vite.config.ts
Due: eslint, prettier, typecheck

Document bundle optimization success in ADR: 63% size reduction achievement
  ADR.md
Due: prettier

fix: allow single-letter ticker searches (F, T, etc.)
  src/hooks/useStocks.test.ts
  src/hooks/useStocks.ts
Due: eslint, prettier, typecheck

refactor: eliminate all 'any' types with proper type guards
  src/utils/stock-history-transform.ts
  src/utils/stock-quote-transform.ts
Due: eslint, prettier, typecheck

refactor: eliminate unsafe type castings and unnecessary 'as const'
  src/config/cache.ts
  src/hooks/useStockHistory.ts
  src/hooks/useStockQuote.ts
  src/utils/free-tier-symbols.ts
  src/utils/stock-api-errors.ts
  src/utils/stock-chart-options.ts
  src/utils/stock-history-transform.ts
  src/utils/stock-quote-transform.ts
Due: eslint, prettier, typecheck

fix: update component imports after renaming files
  src/components/section/Section.tsx
  src/components/section/states/HomeDisplay.tsx
  src/components/section/states/StockLoading.tsx
Due: eslint, prettier, typecheck

refactor: consolidate StockQuote and RawQuoteApiResponse interfaces
  src/utils/stock-quote-transform.ts
Due: eslint, prettier, typecheck

hotfix: huston we have a v3 problem, alarm!
  WISHLIST.md
  src/services/api.test.ts
  src/services/api.ts
Due: eslint, prettier, typecheck

hotfix: fix CORS issue by using /search endpoint instead of /stable/search-symbol
  src/services/api.test.ts
  src/services/api.ts
Due: eslint, prettier, typecheck

fix: use direct financialmodelingprep.com URL for search-symbol to avoid CORS
  src/services/api.test.ts
  src/services/api.ts
Due: eslint, prettier, typecheck

refactor: use GitHub environment variable for base URL in workflow
  .github/workflows/deploy.yml
Due: none

feat: convert SVGs to Heroicons and improve search validation with better spacing
  src/components/search-modal/modal-form/SearchModalForm.tsx
  src/components/search-modal/results/SearchResultsList.tsx
  src/components/stock-chart/errors/PaymentRequiredError.tsx
Due: eslint, prettier, typecheck

chore: clean up verbose console logs while keeping essential API logs
  src/hooks/useStockQuote.ts
  src/hooks/useStocks.ts
  src/utils/stock-swr-retry.ts
Due: eslint, prettier, typecheck

fix: use cleaned query result from validation and update test expectations
  src/components/search-modal/modal-form/SearchModalForm.tsx
Due: eslint, prettier, typecheck

chore: clean up cache config, convert SVGs to Heroicons, and clear search on modal close
  src/components/section/Section.tsx
  src/components/sidebar/NavigationItem.tsx
  src/config/cache.ts
  src/config/navigation-menu.ts
  src/services/api.ts
Due: eslint, prettier, typecheck
